body{
  background-color:whitesmoke;
  display: block;
}
h1{
  color: black;
  margin-left: 20px;
  box-shadow: 5px;
  text-align: center;
  justify-content: center;
  margin-top: 20%;
  /* text-decoration:brown; */

}
h2{
  color:black;
  font-size: large;
  margin-left: 20px;
  text-align: center;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
img{
  border-radius: 45px;
  background-color: rgb(173, 158, 158);
  height: 300px;
  width: 300px;
  padding: 5px;
  margin-left: 30px;

}
img:hover{
  opacity: 50%;
  cursor: pointer;
}

button{
  color: white;
  background-color: rgb(228, 17, 17);
  border-radius: 3px;
  padding:0px;
  font-size: large;
  font-family:Arial;
  margin-left: 30px;

}

button:hover{
  opacity: 50%;
  cursor:pointer;
}

ul{
  display: flex;
  color: rgb(53, 247, 5);
  /* margin: 0%; */
  padding: 0%;
  list-style: none;
 justify-content: right;
 margin-left: 10px;
 text-decoration: none;
 color: red;
}
li{
  margin-left: 10px;
  text-decoration: none;
  color: red;
}
li:hover{
  opacity: 90%;
}
.bt{
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}
link{
  color: red;
  text-decoration: none;
}